.nav {
  margin-right: auto;
  padding: 0 30px;

  .nav__container {
    button {
      display: none;
      @extend .button-default;

      svg {
        stroke: var(--main-color);
      }
    }
  }

  &__list {
    @extend .flex-wrap;
  }

  &__list-item {
    margin: 0 12px;
    padding: 2px;
    a {
      @extend .flex-centered-content;

      font-size: 14px;
      line-height: 1;
      letter-spacing: 0.06em;
      text-transform: uppercase;
    }
  }

  @include m-b-desktop-down {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    padding: 0;
    background-color: var(--overlay-color);
    z-index: 101;

    transform: translateX(-105%);

    .nav__container {
      transform: translateX(-105%);
    }

    .nav__list-item a {
      transform: translateY(50px);
      opacity: 0;
    }

    &.is-opened {
      display: block;
      transform: translateX(0);

      animation: fadeIn var(--modal-t-rules);
      height: calc(var(--vh, 1vh) * 100);

      .nav__container {
        position: relative;
        width: 30vw;
        min-width: 320px;
        height: 100%;

        animation: transformX 0.5s 0.15s linear forwards;

        button {
          position: absolute;
          top: 15px;
          right: 15px;

          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      ul {
        display: flex;
        flex-direction: column;
        background-color: var(--white-color);
        width: inherit;
        min-width: inherit;
        height: inherit;
        padding: 30px;
      }

      .nav__list-item a {
        transform: translateY(50px);
        opacity: 0;

        animation: nav-list-links 0.5s 0.3s ease-in forwards;
      }
    }

    &.is-closing {
      animation: fadeOut var(--modal-t-rules) forwards;
    }
  }
}
