.user {
  @extend .flex-wrap;
  margin-left: 30px;

  a {
    @extend .flex-centered-content;
    margin: 0 2px;

    @extend .svg-stroke;

    @include m-b-tablet-down {
      display: none;
    }
  }
}
