.catalog {
  padding-bottom: 40px;

  &__wrapper {
    display: grid;
    grid-template-columns: 290px auto;
    grid-gap: 40px;

    @include m-b-tablet-lg-down {
      grid-template-columns: 250px auto;
    }

    @include m-b-tablet-down {
      grid-template-columns: 1fr;
    }
  }

  &__sidebar {
    position: sticky;
    top: 100px;
    height: fit-content;
    padding: 70px 0 30px;

    @include m-b-tablet-down {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;

      background-color: var(--overlay-color);
      z-index: 101;


      &.is-opened {
        display: block;

        animation: fadeIn var(--modal-t-rules);
        height: calc(var(--vh, 1vh) * 100);
      }

      &.is-closing {
        animation: fadeOut var(--modal-t-rules) forwards;
      }
    }
  }

  &__content {
    &-header {
      @extend .flex-wrap;
      align-items: center;
      justify-content: space-between;

      padding: 20px 0;
      padding-top: 55px;
      margin-bottom: 10px;

      position: sticky;
      top: 100px;
      background-color: var(--white-color);
      z-index: 100;

      @include m-b-tablet-down {
        top: 115px;
      }

      .catalog-total {
        font-weight: 500;
        letter-spacing: 0.06em;
        text-transform: uppercase;

        @include m-b-tablet-down {
          display: none;
        }
      }

      .filter-show-button {
        display: none;
        @extend .button-default;
        @extend .flex-centered-content;
        font-weight: 500;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        width: fit-content;
        min-height: 40px;

        @include m-b-tablet-down {
          display: flex;
        }
      }
    }
  }

  &__list {
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 18px;

    @include m-b-desktop-down {
      grid-template-columns: repeat(4, 1fr);
    }

    @include m-b-laptop-down {
      grid-template-columns: repeat(3, 1fr);
    }

    @include m-b-tablet-lg-down {
      grid-template-columns: repeat(2, 1fr);
    }

    @include m-b-tablet-down {
      grid-template-columns: repeat(3, 1fr);
    }

    @include m-b-down(574px) {
      grid-template-columns: repeat(2, 1fr);
    }

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      content: '';
      background-color: var(--white-color);
    }
  }
}
