.hero {
  &__title {
    /* up/down desktop-lg(1920),desktop(1440),laptop(1140),tablet-lg(960),tablet(768),mobile-lg(534)*/
    @include m-b-tablet-up {
      h1 {
        position: absolute;
        overflow: hidden;
        margin: -1px;
        border: 0;
        padding: 0;
        width: 1px;
        height: 1px;
        clip: rect(0 0 0 0);
      }

      padding: 0;
    }

    h1 {
      font-weight: 400;
      font-size: 36px;
      line-height: 88%;

      letter-spacing: -0.04em;
    }
    padding: 48px 0;

  }
  &__slider {
    &-button-next,
    &-button-prev {
      width: 80px;
      height: 80px;

      svg {
        fill: none;
        stroke: var(--white-color);
      }
    }

    &-button-next {
      top: 60%;
      right: calc(20vw - 80px);
    }

    &-button-prev {
      top: 60%;
      left: calc(20vw - 80px);
      transform: rotate(180deg);
    }

    &-pagination {
      @extend .flex-centered-content;

      bottom: 5% !important;
      left: 50% !important;
      transform: translateX(-50%);
      height: 32px;
      width: fit-content !important;

      padding: 0 24px;
      background-color: rgba(0,0,0,.4);
      border-radius: 16px;

      .swiper-pagination-bullet {
        width: 6px;
        height: 6px;
        background-color: var(--white-color);
        opacity: 0.3;
        margin: 0 4px;

        &-active {
          opacity: 1;
        }
      }
    }

    @include m-b-tablet-down {
      display: none;
    }
  }

  &__slide {
    position: relative;
    display: flex;
    height: 100%;
    max-height: 560px;
    min-height: 400px;
    background-color: var(--hero-bg);

    picture {
      display: flex;
      width: 100%;
      height: 100%;
      min-height: inherit;

      img {
        object-position: left;
      }
    }

    &-content {
      @extend .container;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 40vw;
      max-width: 600px;
      height: fit-content;
      margin: auto;

      h2 {
        margin: 0;
        margin-bottom: 24px;
        letter-spacing: -0.02em;

        font-size: clamp(42px, 7vw, 72px);
      }

      p {
        line-height: 1.3;
        letter-spacing: 0.02em;
      }

      p,h2 {
        font-weight: 500;
        text-align: center;
        color: var(--white-color);
      }
    }
  }
}
