*,
*::before,
*::after {
  box-sizing: inherit;
  border-radius: 0;

  @extend .main-scroll;
  user-select: none;
}

html {
  box-sizing: border-box;
}

main {
  position: relative;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  -webkit-text-size-adjust: none;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: var(--font-family, sans-serif);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main-color);
  background-color: var(--main-bg-color);

  &.body-locked {
    overflow: hidden;
  }
}

footer {
  margin-top: auto;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  width: fit-content;
  min-height: 40px;
  min-width: 40px;
  color: var(--main-color);
  text-decoration: none;

  transition: opacity var(--main-t-rules);

  @include m-b-tablet-up {
    &:hover,
    &:focus {
      opacity: 0.7;
    }
  }
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}

svg {
  fill: none;
  stroke: var(--main-color);
}

.hidden {
  display: none !important;
}

.showed {
  display: block !important;
}

button:disabled {
  cursor: initial !important;
  opacity: 0.5;
}
