-
  const catalogFilters = [
    {
      title: 'Новинки',
      type: 'new',
      id: 'new',
    },
    {
      title: 'Есть в наличии',
      type: 'available',
      id: 'available',
    },
    {
      title: 'Контрактные',
      type: 'contract',
      id: 'contract',
    },
    {
      title: 'Эксклюзивные',
      type: 'exclusive',
      id: 'exclusive',
    },
    {
      title: 'Распродажа',
      type: 'sale',
      id: 'sale',
    },
  ]

.filter#catalog-filter.is-modal
  each filter in catalogFilters
    .filter__item
      input(type="checkbox" id= filter.id data-type= filter.type)
      label(for= filter.id class="filter__label")
        include ./base-components/switcher
        span.lw-text-xs!= filter.title

