.sorting
  button(type="button" data-active-sort="expensive").sorting__header Сначала дорогие
  .sorting__items
    button(type="button" data-sort="expensive").sorting__item.js-sort-btn Сначала дорогие
    button(type="button" data-sort="cheap").sorting__item.js-sort-btn Сначала недорогие
    button(type="button" data-sort="popular").sorting__item.js-sort-btn Сначала популярные
    button(type="button" data-sort="new").sorting__item.js-sort-btn Сначала новые
