header.main-header
  .container
    .main-header__wrapper
      include ./base-components/burger
      include ./base-components/logo
      include ./nav
      include ./callback
      include ./user
