include ../mixins/main-button

.minicart
  button(type="button" aria-label="Просмотр корзины" data-modal-anchor="minicart").minicart__button.js-minicart-opener

  .minicart__overlay
    .minicart__body#minicart.is-modal
      .minicart__header
        span Корзина
        button(type="button" aria-label="закрыть корзину").js-modal-close.minicart__closer
          svg(width="24" height="24")
            use(xlink:href="./assets/sprite.svg#icon-close")

      .minicart__content
        .minicart__content-header
          span.js-minicart-total
          button.minicart-remove-all очистить список
        ul.minicart__content-list

      .minicart__footer
        .minicart__footer-total
          span Итого
          b.js-minicart-total-price

        +main-button({
          text: 'Оформить заказ',
          cls: 'minicart__footer-offer-button js-minicart-offer'
        })
