-
  const navList = [
    {url: '#', title: 'Продукты'},
    {url: '#', title: 'Цвета'},
    {url: '#', title: 'Вдохновение'},
    {url: '#', title: 'Советы'},
    {url: '#', title: 'Найти магазин'},
  ]

nav.nav
  .nav__container#nav.modal
    button(type="button").js-modal-close
      svg(width="24" height="24")
        use(xlink:href="./assets/sprite.svg#icon-close")
    ul.nav__list
      each item in navList
        li.nav__list-item
          a(href= item.url)= item.title
