.user
  a(href="#" aria-label="поиск").user__item
    svg(width="20" height="20")
      use(xlink:href="./assets/sprite.svg#icon-search")

  a(href="#" aria-label="авторизация").user__item
    svg(width="20" height="20")
      use(xlink:href="./assets/sprite.svg#icon-user")

  a(href="#" aria-label="избранное").user__item
    svg(width="20" height="20")
      use(xlink:href="./assets/sprite.svg#icon-heart")

  include ./minicart
