.user
  a(href="#").user__item
    svg(width="20" height="20")
      use(xlink:href="./assets/sprite.svg#icon-search")

  a(href="#").user__item
    svg(width="20" height="20")
      use(xlink:href="./assets/sprite.svg#icon-user")

  a(href="#").user__item
    svg(width="20" height="20")
      use(xlink:href="./assets/sprite.svg#icon-heart")

  include ./minicart
