section.catalog
  .container
    .catalog__wrapper
      .catalog__sidebar
        include ../../components/catalog-filter


      .catalog__content
        include ../../components/base-components/loader
        .catalog__content-header
          button(type="button" data-modal-anchor="catalog-filter").lw-text-xs.filter-show-button Фильтры
          span.lw-text-xs.catalog-total
          include ../../components/catalog-sort

        ul.catalog__list
