.burger {
  position: relative;

  width: 36px;
  height: 36px;
  margin-right: 5px;
  margin-left: -9px;
  background: var(--white-color);
  border: none;
  z-index: 11;
  cursor: pointer;

  .burger__lines {
    display: block;
    width: 100%;
    height: fit-content;

    .burger-line {
      display: block;
      width: 100%;
      height: 2px;
      margin: 4px 0;

      background-color: var(--main-color);
    }
  }

  display: none;

  @include m-b-desktop-down {
    display: block;
  }
}
