.main-logo {
  @extend .flex-centered-content;

  width: fit-content;
  min-height: 40px;
  margin-right: 142px;

  svg {
    stroke: none !important;
    fill: var(--main-color) !important;
  }

  @include m-b-desktop-down {
    margin: 0 auto;
    flex-grow: 1;
  }

  @include m-b-tablet-down {
    svg {
      width: 99px;
      height: 21px;
    }
  }
}
