.main-logo {
  @extend .flex-centered-content;

  width: fit-content;
  min-height: 40px;
  margin-right: 142px;
  svg {
    fill: var(--main-color);
  }

  @include m-b-desktop-down {
    margin: 0 auto;
    flex-grow: 1;
  }
}
