button(type="button" data-modal-anchor="nav" aria-label="открыть меню").lw-button-main.burger.js-nav-opener
  span.burger__lines
    span.burger-line.burger-line--top
    span.burger-line.burger-line--middle
    span.burger-line.burger-line--bottom
