.counter
  button(type="button").js-counter-dec
    svg(width="24" height="24")
        use(xlink:href="./assets/sprite.svg#icon-minus")

  span.js-counter-total 1

  button(type="button").js-counter-inc
    svg(width="24" height="24")
        use(xlink:href="./assets/sprite.svg#icon-plus")
