mixin head(title, desc, keywords)
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    meta(name="description" content=`${desc}`)
    meta(name="keywords" content=`${keywords}`)
    title!= title
    link(rel="stylesheet" href="./assets/main.css")
    link(rel="preload" href="./assets/fonts/Inter-Regular.woff2" as="font" type="font/woff2" crossorigin)
    link(rel="preload" href="./assets/fonts/Inter-Medium.woff2" as="font" type="font/woff2" crossorigin)
    link(rel="preload" href="./assets/fonts/Inter-Light.woff2" as="font" type="font/woff2" crossorigin)
    link(rel="preload" href="./assets/fonts/Inter-SemiBold.woff2" as="font" type="font/woff2" crossorigin)
    script(defer src="./assets/bundle.js")
