template(id="product-card-template")
  li.catalog__list-item
    .product-card(tabindex="0")
      .product-card__header
        picture
          source(srcset="" type="image/webp")
          img(src="" alt="" width="278" height="278")

      .product-card__content
        h2

      .product-card__footer
        span
        button(type="button" aria-label="добавить в корзину").cart-add-button
          svg(width="20" height="20")
            use(xlink:href="./assets/sprite.svg#icon-plus")

template(id="cart-item-template")
  li.minicart__content-item
    .minicart-product
      picture
        source(srcset=`./assets/img/img_name@1x.webp 1x, ./assets/img/img_name@2x.webp 2x` type="image/webp")
        img(src=`./assets/img/img_name@1x.jpg" srcset="./assets/img/img_name.jpg 2x` alt="" width="96" height="96")

      .minicart-product__desc
        h2
        span

      .minicart-product__counter
        include ../components/base-components/counter

      button(type="button").minicart-product__remove.js-minicart-product-remove
        svg(width="24" height="24").icon-remove
          use(xlink:href="./assets/sprite.svg#icon-close")
        svg(width="24" height="24").icon-refresh
          use(xlink:href="./assets/sprite.svg#icon-refresh")
